/* 
 *  Core SiteVision Owl Carousel CSS File
 */
.sv-carousel {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.sv-carousel__stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.sv-carousel__stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.sv-carousel__stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.sv-carousel__item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.sv-carousel__img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
}
.sv-carousel__nav.sv-carousel__nav--disabled,
.sv-carousel__dots.sv-carousel__dots--disabled {
  display: none;
}
.sv-carousel__navbtn-prev,
.sv-carousel__navbtn-next,
.sv-carousel__dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sv-carousel--loaded {
  display: block;
}
.sv-carousel--loading {
  opacity: 0;
  display: block;
}
.sv-carousel--hidden {
  opacity: 0;
}
.sv-carousel--refresh .sv-carousel__item {
  display: none;
}
.sv-carousel--drag .sv-carousel__item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sv-carousel--grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.sv-carousel--rtl {
  direction: rtl;
}
.sv-carousel--rtl .sv-carousel__item {
  float: right;
}
/*
*  Standard SiteVision Owl Carousel Theme
*/
.sv-carousel__stage {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sv-carousel__navbtn-prev,
.sv-carousel__navbtn-next {
  position: absolute;
  top: 50%;
  margin: -14px auto 0;
  background-color: #000;
  padding-top: 28px;
  width: 34px;
  height: 0;
  border-radius: 17px;
  border: 3px solid #fff;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.sv-carousel__navbtn-prev:after,
.sv-carousel__navbtn-next:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 8px;
  margin-top: -8px;
}
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-prev,
.sv-carousel:hover .sv-carousel__navbtn-prev,
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-next,
.sv-carousel:hover .sv-carousel__navbtn-next {
  opacity: 1;
}
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-prev.sv-carousel__navbtn--disabled,
.sv-carousel:hover .sv-carousel__navbtn-prev.sv-carousel__navbtn--disabled,
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-next.sv-carousel__navbtn--disabled,
.sv-carousel:hover .sv-carousel__navbtn-next.sv-carousel__navbtn--disabled,
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-prev.sv-carousel__navbtn--disabled,
.sv-carousel:hover .sv-carousel__navbtn-prev.sv-carousel__navbtn--disabled,
.sv-editing-mode .sv-carousel .sv-carousel__navbtn-next.sv-carousel__navbtn--disabled,
.sv-carousel:hover .sv-carousel__navbtn-next.sv-carousel__navbtn--disabled {
  opacity: 0.6;
}
.sv-carousel__navbtn-prev {
  left: 10px;
}
.sv-carousel__navbtn-next {
  right: 10px;
}
.sv-carousel__navbtn-prev:after {
  right: 11px;
  border-right-color: #fff;
}
.sv-carousel__navbtn-next:after {
  left: 11px;
  border-left-color: #fff;
}
.sv-carousel__navbtn--disabled {
  cursor: default;
}
.sv-carousel__dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  height: 14px;
  line-height: 14px;
  text-align: center;
}
.sv-carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 5px;
  background-color: #000;
  border: 2px solid #FFF;
  transition: all 0.25s;
}
.sv-carousel__dot.sv-carousel__dot--active,
.sv-carousel__dot:hover {
  background-color: #AEAEAE;
}
